<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Popcorn Time RU</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1, h2 {
            color: black;
            text-align: center;
        }
        .links {
            display: flex;
            margin: 0;
            padding: 0;
        }
        .links li {
            list-style: none;
        }
        .links a {
            color: black;
            font-weight: bold;
            font-size: 20px;
            display: block;
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Popcorn Time Ru</h1>

    <section>
        <p>Парсит торренты с русских трекеров</p>
        <ul>
            <li>Rutracker</li>
            <li>Rutor</li>
            <li>NnmClub</li>
        </ul>
        <p>Win/Lin умеет скачивать одну серию из торрента сезона или сериала</p>
        <p>Android версия пока только фильмы</p>
    </section>
    <section>
        <h2>Скачать</h2>
        <ul class="links">
            <li><a href="/app/Popcorn-Time-Ru-Setup.exe">Windows</a></li>
            <li><a href="/app/Popcorn-Time-Ru-linux64.tar.xz">Linux</a></li>
            <li><a href="/app/Popcorn-Time-Ru.apk">Android</a></li>
        </ul>
    </section>
</body>
</html>
