<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Popcorn Time RU</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/fork.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33769655-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-33769655-2');
    </script>
</head>
<body>
<span id="forkongithub"><a href="https://github.com/popcorn-time-ru/popcorn-ru/">Fork me on GitHub</a></span>
<h1>Popcorn Time Ru</h1>

    <section>
        <p>Just set https://popcorn-ru.tk/ as api server in original client and you get fresh movies and serials</p>
        <p>Парсит торренты с русских трекеров</p>
        <ul>
            <li>Rutracker</li>
            <li>Rutor</li>
            <li>NnmClub</li>
        </ul>
        <p>Локализация названий, постеров и эпизодов, поддерживает несколько языков</p>
        <p>Нужна помощь с Android версией</p>
    </section>
    <section>
        <h2>Desktop версия</h2>
        <p>Последняя версия оригинальной программы + патчи форка</p>
        <ul class="links">
            <li><a href="https://github.com/popcorn-time-ru/popcorn-desktop/releases">Страница релизов</a></li>
            <li><a href="https://github.com/popcorn-time-ru/popcorn-desktop/actions">Последние сборки</a></li>
        </ul>
        <p>Репозитории</p>
        <ul class="links">
            <li><a href="https://aur.archlinux.org/packages/popcorntime-ru-bin">AUR</a></li>
        </ul>
    </section>
</body>
</html>
