<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Popcorn Time RU</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/fork.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-33769655-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-33769655-2');
    </script>
</head>
<body>
    <span id="forkongithub"><a href="https://github.com/popcorn-time-ru/popcorn-ru/">Fork me on GitHub</a></span>
    <h1>Popcorn Time Ru</h1>

    <section>
        <p>Парсит торренты с русских трекеров</p>
        <ul>
            <li>Rutracker</li>
            <li>Rutor</li>
            <li>NnmClub</li>
        </ul>
        <p>Win/Lin умеет скачивать одну серию из торрента сезона или сериала</p>
        <p>Android версия пока только фильмы</p>
    </section>
    <section>
        <h2>Новая версия</h2>
        <p>Собрана на последней версии оригинальной программы + перевод текстов</p>
        <ul class="links">
            <li><a href="/app/Popcorn-Time-Ru-0.3.11+Locale-win64-Setup.exe">Windows (Setup)</a></li>
            <li><a href="/app/Popcorn-Time-Ru-0.3.11+Locale.zip">Windows (ZIP)</a></li>
            <li><a href="/app/Popcorn-Time-Ru-0.3.11+Locale_linux64.tar.xz">Linux</a></li>
        </ul>
        <h2>Старая версия</h2>
        <p>С проприетарными кодеками</p>
        <ul class="links">
            <li><a href="/app/Popcorn-Time-Ru-Setup.exe">Windows</a></li>
            <li><a href="/app/Popcorn-Time-Ru-linux64.tar.xz">Linux</a></li>
            <li><a href="/app/Popcorn-Time-Ru.apk">Android</a></li>
        </ul>
    </section>
</body>
</html>
